body {
    background-color: #c4bdbd;
    font-family: "Segoe UI";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

li {
    font-size: 20px;
    padding: 10px;
}

header {
    margin-left: 0;
    margin-top: 0;
}

main {
    padding: 40px;
}

h1 {
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: white;
    margin-bottom: 30px;
}

h3 {
    margin-left: 100px;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 20px;
    padding: 10px;
}

table {
    padding: 10px;
    width: 100%;
    table-layout: auto;
    word-wrap: break-word;
    border-collapse: collapse;


}

th {
    padding: 5px;
    align-items: center;
    background-color: #807777;
    border-color: #333;
}

td {
    padding: 5px;
    border-width: 1px;
    background-color: #999494;
    align-items: center;
    justify-content: center;
    border-color: #333;
}

td img {
    justify-self: center;

}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.05);

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 3;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;

}

nav a {
    font-size: 25px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    transform: scale(1);
}

nav a:hover {
    background-color: #f5f5f5;
    color: black;
    transform: scale(1.1);
}

.title-bar img:hover {
    transform: scale(1.1);
}

.title-bar h1 {
    position: relative;
    top: 55px;
    left: 50px;
    text-align: center;
    font-size: 2.5em;
}

.notes-header {
    background-image: url("CSSBackgrounds/bg1.jpg");
    background-repeat: no-repeat;
    align-items: center;
    height: 550px;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 75px;
    animation-name: entrada-nav;
    animation-duration: 2s;
    animation-direction: reverse;
}

.margin-body {
    padding: 100px;
    align-items: center;
}

.box-apartados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-apartado {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.2s ease-in-out;
    animation-name: entrada-index;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

.container-apartado a {
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: bold;
}

.container-apartado:hover {
    transform: translateY(-10px);
    background-color: #333;
    color: white;
}

.container-apartado img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.container-apartado img:hover {
    transform: scale(1.1);
}

.box-header {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    color: black;
    animation-name: entrada-header;
    animation-name: 2s;
    position: relative;
    top: 50px;
    left: 750px;
}

.box-header:hover {
    transform: translateY(-10px);
}

.box-header img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.box-header img:hover {
    transform: scale(1.1);
}

.indice {
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: auto;
    gap: 10px;
    justify-content: center;
    text-align: center;
    background-color: #adadad;
    transition: transform 0.5s ease-in-out;
    border-radius: 25px;
    width: 105%;
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;

}

.indice a {
    transition: transform 0.3s ease-in-out, color 0.2s ease-in-out;
    padding-right: 20px;
}

.indice a:hover {
    transform: scale(1.5);
    color: bisque;
}

.indice ol {
    list-style-type: none;
}

.indice h3 {
    padding-top: 10px;
}

.indice:hover {
    transform: scale(1.01);
}


.grid-sections {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: max-content;
    margin-left: 100px;
}


.container-seccion {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #636060;
    transition: transform 0.5s ease-in-out;
    padding: 25px;
    width: 85%;
    border-radius: 25px;
    gap: 10px;
    margin-bottom: 50px;
    margin-right: 200px;
}


.container-seccion table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
    margin: 0 auto;
    border-collapse: collapse;
}

.container-seccion th,
.container-seccion td {
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

.container-seccion th {
    background-color: #807777;
    color: white;
    border: 1px solid #333;
}

.container-seccion td {
    background-color: #999494;
    border: 1px solid #333;
}

.container-seccion img {
    padding-top: 25px;

}

.container-seccion:hover {
    transform: scale(1.01);
}

.container-author {
    display: flex;
    flex-direction: row;
    background-color: #333;

}

.container-author img {

    max-width: 278px;
    max-height: 294px;
    padding: 50px;
    padding-top: 75px;
}

.flex-author-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;
    padding-left: 50px;
}

@media (max-width: 1200px) {
    .grid-sections {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    .container-seccion {
        width: 50%;
        position: relative;
        left: 250px;
        padding: 30px;
        align-items: center;
        justify-content: center;
    }


    .container-apartado table {
        width: max-content;
    }

    .box-header {
        width: 35%;
        position: relative;
        left: 350px;
    }

    .indice {
        width: 100%;
        position: relative;
        left: 0;
        padding: 20px;
    }

    .notes-header {
        width: 100%;
    }

    img {
        max-width: 500px;
        max-height: fit-content;
        border-radius: 25px;
    }
}

@media (max-width: 768px) {
    .grid-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .container-seccion {
        width: 90%;
        padding: 30px;
        position: relative;
        left: 70px;
    }

    .box-header {
        width: 50%;
        padding: 15px;
        position: relative;
        left: 200px;
    }

    .indice {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    nav a {
        font-size: 20px;
        padding: 10px;
    }

    table {
        font-size: 0.9em;
    }

    th,
    td {
        padding: 5px;
    }

    .container-author {
        flex-direction: column;
    }

    .container-author h2 {
        font-size: 20px;
    }

    .container-author p {
        font-size: 15px;
    }

    .container-author img {
        max-height: 320px;
        max-width: 250px;


    }
}

@media (max-width: 620px) and (min-width: 100px) {
    .box-header {
        padding: 20px;
        font-size: 1rem;
        width: 50%;
        position: relative;
        top: 75px;
        left: 50px;
    }



    .container-apartado {
        width: 100%;
    }

    .margin-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .grid-sections {
        gap: 50px;
    }

    .container-seccion {
        width: 95%;
        padding: 10px;
        position: relative;
        left: 50px;

    }

    .indice {
        font-size: 0.9rem;
        padding: 10px;
        position: relative;
        right: 10px;
        align-items: center;
        justify-content: center;
    }



    nav {
        gap: 5px;
    }

    nav a {
        font-size: 18px;
        padding: 8px;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        font-size: 0.8em;
        padding: 5px;
    }

    table tr {
        display: block;
        margin-bottom: 10px;
    }

    th,
    td {
        display: block;
        text-align: left;
    }

    th {
        font-weight: bold;
        background-color: #807777;
    }

    img {
        width: 75%;
        height: 75%;
    }

    .container-author {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .container-author img {
        width: 60%;
    }
}

@keyframes entrada-index {
    from {
        margin-top: px;
        opacity: 100%;
    }

    to {
        margin-top: 1250px;
        opacity: 0%;

    }
}

@keyframes entrada-nav {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;

    }
}

@keyframes entrada-header {
    from {
        margin-left: 0;
        opacity: 100%;
    }

    to {
        margin-left: 100%;
        opacity: 0%;

    }
}